.background-banner {
  width: 100%;
  height: 100%;
  background-image: url('../images/banners/banner-home.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-banner-search {
  width: 100%;
  height: 80vh;
  background-image: url('../images/banners/banner-resultado.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}